[ req ]
distinguished_name	= req_distinguished_name
x509_extensions = v3_ca

[ req_distinguished_name ]
countryName             = SE
countryName_min         = 2
countryName_max         = 2
stateOrProvinceName     = Sweden
localityName            = Local Developement
0.organizationName      = Acme Corp Inc
organizationalUnitName  = Development
commonName              = example.com
commonName_max          = 64
emailAddress            = noreply@example.com
emailAddress_max        = 64

[ v3_ca ]
subjectAltName          = @alt_names

[ alt_names ]
DNS.1                   = example.com
DNS.2                   = *.example.com
